In [8]:
import pandas as pd

# Load Data

In [9]:
df = pd.read_csv("datasets/notas2.txt", names = ["MARKS"])
df

     MARKS
0      7.3
1      6.0
2      1.3
3      0.5
4      8.0
..     ...
231    7.9
232    5.9
233    5.2
234    6.2
235    6.0

[236 rows x 1 columns]

# Quantiles

In [10]:
df["QUANTILES"] = pd.qcut(df["MARKS"], 4)
df

     MARKS      QUANTILES
0      7.3    (6.5, 10.0]
1      6.0     (5.4, 6.5]
2      1.3  (-0.001, 4.3]
3      0.5  (-0.001, 4.3]
4      8.0    (6.5, 10.0]
..     ...            ...
231    7.9    (6.5, 10.0]
232    5.9     (5.4, 6.5]
233    5.2     (4.3, 5.4]
234    6.2     (5.4, 6.5]
235    6.0     (5.4, 6.5]

[236 rows x 2 columns]

# Bin Values

In [11]:
df["BIN4"] = pd.cut(df["MARKS"], 4)
df

     MARKS      QUANTILES          BIN4
0      7.3    (6.5, 10.0]    (5.0, 7.5]
1      6.0     (5.4, 6.5]    (5.0, 7.5]
2      1.3  (-0.001, 4.3]  (-0.01, 2.5]
3      0.5  (-0.001, 4.3]  (-0.01, 2.5]
4      8.0    (6.5, 10.0]   (7.5, 10.0]
..     ...            ...           ...
231    7.9    (6.5, 10.0]   (7.5, 10.0]
232    5.9     (5.4, 6.5]    (5.0, 7.5]
233    5.2     (4.3, 5.4]    (5.0, 7.5]
234    6.2     (5.4, 6.5]    (5.0, 7.5]
235    6.0     (5.4, 6.5]    (5.0, 7.5]

[236 rows x 3 columns]